
@{
    ViewBag.Title = "VerifieerAccount";
}

<h2>Verifieer Account</h2>

@if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
{
    <div class="alert alert-success">
         <strong>Succes!</strong> Uw account is succesvol geactiveerd. Klik hier om @Html.ActionLink("in te loggen","Login","Gebruiker")
         </div>
}
else
{
    <div class="alert alert-danger">
        <strong>Error!</strong> @ViewBag.Message
         </div>
}

