@page
@model webapp.Pages.Vragen.Steleenvraag.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using DatabaseController
@using webapp.Models
@using System;
@using System.Collections.Generic;

@{
    ViewData["Title"] = "Create";
    var time = DateTime.Now;

    int UserID = Sessie.GetInstance.getLoginUserID();
    List<Vak> vakken = new List<Vak>();

    List<List<string>> connect = new DBConnection().Send("SELECT * FROM projectcdb.ingeschrevenvakken where UserID = " + UserID.ToString() + ";");
    foreach (List<string> temp in connect)
    {
        Vak a = new Vak();
        a.SelectOne(Convert.ToInt32(temp[0]));
        vakken.Add(a);
    }

    List<Wachtrij> Wachtrijen = new List<Wachtrij>();
    List<List<string>> connect2 = new DBConnection().Send("SELECT * FROM projectcdb.wachtrij;");
    foreach (List<string> temp in connect2)
    {
        Wachtrij a = new Wachtrij();
        a.SelectOne(Convert.ToInt32(temp[0]));
        Wachtrijen.Add(a);

    }



}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Voer hier je vraag in</title>

</head>

<body>
    <form method="post" style="display: inline">
        <input asp-for="VraagText" placeholder="kies je vraag" />
        <br />
        <select id="selectNumber" placeholder="kies je vak" asp-for="VakID">

            @foreach (var item in vakken)
            {
                <option value="@item.VakID"> @item.Naam</option>

            }
        </select>


        <br />
        <input id="SelectLocatie" placeholder="Kies je locatie" asp-for="Locatie" />

        <br />
        <select id="selectNumber" placeholder="kies je Wachtrij" asp-for="WachtrijID">

            @foreach (var item in Wachtrijen)
            {
                <option value="@item.WachtrijID"> @item.Name</option>
            }
        </select>


        <button>Submit</button>
    </form>

</body>
</html>