@page
@model webapp.Pages.Vragen.Steleenvraag.CreateModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using DatabaseController
@using webapp.Models

@{
    ViewData["Title"] = "Create";
    var time = DateTime.Now;
    User mark = new User(1, "student", 1, "mark", "markus", "laurensmaas9702@gmail.com", "12345", true, "12345", "123456");
    Vak vak = new Vak(1, "Marijke", "wd1204", "analyse", "analyse", true);

    List<Vak> temp = new List<Vak>();
    temp.Add(vak);




    IngeschrevenVakken vakken = new IngeschrevenVakken(vak, mark);

    var TempData = new List<IngeschrevenVakken>();
    TempData.Add(vakken);
    TotaalingeschrevenVakken totVakken = new TotaalingeschrevenVakken(TempData);
    //todo: eerst student aanmaken
    //todo: vak  aanmaken
    //todo ingeschreven vak met student aanmaken

}
<h1>Stel een vraag!</h1>
<h4>Vraag</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Vraag.UserID" type="hidden" value=@mark.UserID>
            <div class="form-group">
                <label asp-for="Vraag.VakID" class="control-label"></label>
                <input asp-for="Vraag.VakID" class="form-control" />
                <span asp-validation-for="Vraag.VakID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vraag.VraagText" class="control-label"></label>
                <input asp-for="Vraag.VraagText" class="form-control" />
            </div>

            <select id="selectNumber">
                <option>Kies het vak</option>
            </select>

            <input asp-for="Vraag.DateAdded" type="hidden" value=@time>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>


<script>
    var totaalingeschrevenVakken = @temp,
            select = document.getElementById("selectNumber");


         totaalingeschrevenVakken.forEach(function (element) {
             select.add(new Option(totaalingeschrevenVakken[element].Naam));
        }
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
