@page
@model webapp.Pages.Vragen.Steleenvraag.CreateModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Create";
    var time = DateTime.Now;

}
@functions{
    public static List<string> krijgvakken()
    {
        var result = new List<string>();

        return result;
    }
}
<h1>Stel een vraag!</h1>
<h4>Vraag</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Vraag.UserID" class="control-label"></label>
                <input asp-for="Vraag.UserID" class="form-control" />
                <span asp-validation-for="Vraag.UserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vraag.VakID" class="control-label"></label>
                <input asp-for="Vraag.VakID" class="form-control" />
                <span asp-validation-for="Vraag.VakID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vraag.VraagText" class="control-label"></label>
                <input asp-for="Vraag.VraagText" class="form-control" />
                <span asp-validation-for="Vraag.VraagText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vraag.AndwoordText" class="control-label"></label>
                <input asp-for="Vraag.AndwoordText" class="form-control" />
                <span asp-validation-for="Vraag.AndwoordText" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Vraag.DateAdded" class="control-label"></label>
                <input asp-for="Vraag.DateAdded" class="form-control" />
            </div>
            <input asp-for="Vraag.DateAdded" type="hidden" value=@time>
            <div class="form-group">

                <input type="submit" onclick="myFunction()" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

