@page
@model webapp.Pages.Vragen.Steleenvraag.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using DatabaseController
@using webapp.Models
@using System;
@using System.Collections.Generic;

@{
    ViewData["Title"] = "Create";
    var time = DateTime.Now;
  

    
    List<Vak> vakken = new List<Vak>();

    List<List<string>> connect = new DBConnection().Send("SELECT * FROM projectcdb.ingeschrevenvakken where UserID = 1");
    foreach (List<string> temp in connect)
    {
        Vak a = new Vak();
        a.SelectOne(Convert.ToInt32(temp[0]));
        vakken.Add(a);
    }

   
    
}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Voer hier je vraag in</title>
    
    </head>

    <body>
        <form method="post" style="display: inline">
            <input asp-for="VraagText" />
            <br />
            <select id="selectNumber" placeholder="kies je vak">

                @foreach (var item in vakken)
                {
                    <option>@item.Naam</option>;
                }
            </select>

            <br />
        </form>

        <form style="display: inline" action="../../Menu/SMenu" method="get">
            <button>Submit</button>
        </form>
    </body>
</html>

<script>
    
    var count = 0;
    for (var x in @vakken) {
        var opt = document.createElement("option");
        document.getElementById("selectNumber").innerHTML += '<option id="' + count + '">' + x.Naam + '</option>';
        count = count + 1;
    }
    

</script>
