@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="Input.KlasID"></label>
                @Html.DropDownListFor(Model => Model.Input.KlasID,
                     new List<SelectListItem> {
                          new SelectListItem { Text = "1A" },
                          new SelectListItem { Text = "1B" },
                          new SelectListItem { Text = "1C" },
                          new SelectListItem { Text = "1D"},
                          new SelectListItem { Text = "1E"},
                          new SelectListItem { Text = "1F"},
                          new SelectListItem { Text = "1H"},
                          new SelectListItem { Text = "1I"},
                          new SelectListItem { Text = "1J"},
                          new SelectListItem { Text = "1K"},
                       },
                     new { @class = "Klas" })

                <!----<input asp-for="Input.KlasID" class="form-control" />-->
                <span asp-validation-for="Input.KlasID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.IsPeercoach"></label>
                @Html.DropDownListFor(Model => Model.Input.IsPeercoach,
                     new List<SelectListItem> {
                          new SelectListItem { Text = "peercoach" },
                          new SelectListItem { Text = "student" },
                          
                       },
                     new { @class = "IsPeercoach" })

                <!----<input asp-for="Input.KlasID" class="form-control" />-->
                <span asp-validation-for="Input.IsPeercoach" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
