@page
@model webapp.Pages.Registratie.PeerRegistratiemodel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using DatabaseController
@using webapp.Models
@using System;
@using System.Collections.Generic;

@{


}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Voer hier je vraag in</title>

</head>

<body>
    <form method="post" style="display: inline">

        <input id="Voornaam" placeholder="Voornaam" asp-for="Voornaam" />
        <br />
        <input id="Achternaam" placeholder="Achternaam" asp-for="Achternaam" />
        <br />
        <input id="Email" placeholder="Email" asp-for="Email" />
        <br />
        <input id="Wachtwoord" type="password" placeholder="Wachtwoord" asp-for="Wachtwoord" />
        <br />
        <input id="PeercoachW" type="password" placeholder="Wachtwoord Peercoach" asp-for="PeercoachW" />
        <br />
        <button>Submit</button>
    </form>
</body>
</html>