@{
    ViewBag.Title = "VerifyAccount";
}

<h2>Verifieer account</h2>

@if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
{
    <div class="alert alert-success">
        <strong>Success!</strong> Uw account is succesvol geactiveerd. Klik hier om @Html.ActionLink("in te loggen", "Login", "User")
    </div>
}
else
{
    <div class="alert alert-danger">
        <strong>Error!</strong> @ViewBag.Message
    </div>
}