@page
@model webapp.Pages.Account.AccountModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using DatabaseController
@using webapp.Models
@using System;
@using System.Collections.Generic;

@{
    int LoggedInUser = Sessie.GetInstance.getLoginUserID();

    List<List<string>> db = new DBConnection().Send("SELECT * FROM projectcdb.user WHERE userID = '" + LoggedInUser + "';") ;

    List<User> thisUser = new List<User>();
    foreach(List<string> u in db)
    {
        User x = new User();
        x.SelectOne(Convert.ToInt32(u[0]));
        thisUser.Add(x);
    }


}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>

<body>

    <form method="post">
        <div>
            <input hidden="hidden" asp-for="Voornaam" value="1" />
            Voornaam: @thisUser[0].Voornaam
            <button>Wijzig</button>
            <input asp-for="nieuw" />
        </div>
    </form>

    <br />

    <form method="post">
        <div>
            <input hidden="hidden" asp-for="Achternaam" value="1" />
            Achternaam: @thisUser[0].Achternaam
            <button>Wijzig</button>
            <input asp-for="nieuw" />
        </div>
    </form>

    <br />

    <form method="post">
        <div>
            <input hidden="hidden" asp-for="Email" value="1" />
            Email: @thisUser[0].Email
            <button>Wijzig</button>
            <input asp-for="nieuw" />
        </div>
    </form>

    <br />

    <form method="post">
        <div>
            <input hidden="hidden" asp-for="Wachtwoord" value="1" />
            Wachtwoord
            <button>Wijzig</button>
            <input asp-for="nieuw" />
        </div>
    </form>

</body>
</html>

