@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Peercoach app Developer</h1>
</div>


<a asp-page="../Vakken/DVakken">
    <button>Vakken</button>
</a>

<a asp-page="../Vragen/DVragen">
    <button>Vragen</button>
</a>

<a asp-page="../Agenda/DAgenda">
    <button>Agenda</button>
</a>

<button> Log uit</button>
