@page
@using DatabaseController
@using Models
@model webapp.Pages.PMenuModel
@{
    ViewData["Title"] = "Home page";

    List<string> clickable = new List<string>();
    List<List<string>> connect3 = new DBConnection().Send("SELECT * FROM projectcdb.wachtrij;");
    List<DateTime> temptimes = new List<DateTime>();
    List<int> tempChoices = new List<int>();
    foreach (List<string> temp2 in connect3) {
        int result = DateTime.Compare(DateTime.Now, Convert.ToDateTime(temp2[3]));
        if (result < 0) {
            string tempo = temp2[1].Replace(";", "");


            clickable.Add(tempo);
            string tempo2 = temp2[3].Replace(";", "");
            temptimes.Add(Convert.ToDateTime(tempo2));
            tempChoices.Add(Convert.ToInt32(temp2[0]));

        }
    }
}




<head>
    <style>
         
         .myButton4 {
        background-color: #44c767;
        border-radius: 28px;
        border: 1px solid #18ab29;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-family: Arial;
        font-size: 17px;
        padding: 16px 31px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #2f6627;
    }

        .myButton4:hover {
            background-color: #5cbf2a;
        }

        .myButton4:active {
            position: relative;
            top: 1px;
        }

        .myButton {
            box-shadow: inset 0px 1px 0px 0px #97c4fe;
            background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
            background-color: #3d94f6;
            border-radius: 13px;
            display: inline-block;
            cursor: pointer;
            color: #ffffff;
            font-family: Arial;
            font-size: 15px;
            font-weight: bold;
            padding: 20px 40px;
            text-decoration: none;
            text-shadow: 0px 1px 0px #1570cd;
        }

            .myButton:hover {
                background: linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
                background-color: #1e62d0;
            }

        .myButton2 {
            box-shadow: inset 0px 1px 0px 0px #97c4fe;
            background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
            background-color: #3d94f6;
            border-radius: 13px;
            display: inline-block;
            cursor: pointer;
            color: #ffffff;
            font-family: Arial;
            font-size: 15px;
            font-weight: bold;
            padding: 5px 10px;
            text-decoration: none;
            text-shadow: 0px 1px 0px #1570cd;
        }

            .myButton2:hover {
                background: linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
                background-color: #1e62d0;
            }

        h1 {
            color: navy;
        }

        h2 {
            color: navy;
            position: absolute;
            top: 60%
        }

        #i {
            margin: 0 auto;
        }

        #mijnaccountbtn {
            position: absolute;
            left: 15%;
            top: 20%;
        }

        #logoutbtn {
            position: absolute;
            top: 15%;
            right: 10%;
        }

        #wachtrijbtn {
            position: absolute;
            left: 35%;
            top: 20%;
        }

        #vragenbekijkenbtn {
            position: absolute;
            left: 15%;
            top: 40%;
        }

        #faqbtn {
            position: absolute;
            top: 30%;
            left: 35%
        }
         #annbtn {
            position: absolute;
            top: 40%;
            left: 35%
        }

        #wachtrijbekijkenbtn {
            position: absolute;
            top: 30%;
            left: 15%;
        }
    </style>
</head>

<br />


<h1 class="display-4">Peercoach app Peercoach</h1>

<form id="mijnaccountbtn" action="" method="get">
    <button class="myButton">Mijn account</button>
</form>

<br />

<form id="wachtrijbtn" action="../MakeQueue/create" method="get">
    <button class="myButton">Wachtrij maken</button>
</form>

<br />

<form id="vragenbekijkenbtn" action="../Vragen/PVragen" method="get">
    <button class="myButton">Vragen bekijken</button>
</form>

<br />

<form id="faqbtn" action="../FAQ/overzichtFAQ" method="get">
    <button class="myButton">FAQ</button>
</form>

<br />

<form id="wachtrijbekijkenbtn" action="../MakeQueue/PoverzichtWachtrij" method="get">
    <button class="myButton">Wachtrij bekijken</button>
</form>

<br />

<form id="logoutbtn" method="post">
    <input hidden="hidden" asp-for="LU" value="1" />
    <button class="myButton2">Log Uit</button>
</form>




<form id="annbtn" action="../Announcements/Announcement" method="get">
    <button class="myButton">Announcements</button>
</form>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div>
    <h3 class="text-body">Announcements</h3>
    @{
        var count2 = 0;
    }
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="col-md-1">Wachtrij</th>
                <th class="col-md-2">Tijd</th>
                <th class="col-md-3"></th>
            </tr>
        </thead>

        <body>
            @foreach (var x in clickable)
            {
                <tr>


                    <form method="post">

                        <input hidden="hidden" asp-for="postit" value="@x" />
                        <input hidden="hidden" asp-for="Choice" value="@tempChoices[count2]" />
                        
                        <td class="col-md-1">@x</td>
                        <td class="col-md-2"> Open tot @temptimes[count2] </td>
                        <td class="col-md-3">
                            <button class = "myButton4">ga naar wachtrij</button>
                        </td>
                    </form>


                </tr>
                count2++;
            }
        </body>
</table>
</div>
<script>
    function myFunction() {
        var x = document.getElementById("myCheck").checked;
        document.getElementById('isChecekd').value = x;
    }
</script>
