@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Peercoach app Peercoach</h1>
</div>

<form style="display: inline" action="../Vakken/PVakken" method="get">
    <button>vakken</button>
</form>
<form style="display: inline" action="../Vragen/PVragen" method="get">
   
    <button>Vragen</button>
</form>
<form style="display: inline" action="../Agenda/PAgenda" method="get">
    <button>agenda</button>
</form>

<button> Log uit</button>
