@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <style>
        h1 {
            color: navy;
        }

        h2 {
            color: navy;
            position: absolute;
            top: 60%
        }

        #b {
            margin: 0 auto;
        }

        #mijnaccountbtn {
            position: absolute;
            left: 15%;
            top: 30%;
        }

        #logoutbtn {
            position: absolute;
            top: 15%;
            right: 10%;
        }

        #wachtrijbtn {
            position: absolute;
            left: 35%;
            top: 30%;
        }

        #vragenbekijkenbtn {
            position: absolute;
            left: 15%;
            top: 40%;
        }

        #faqbtn {
            position: absolute;
            top: 40%;
            left: 35%
        }

        #wachtrijbekijkenbtn {
            position: absolute;
            top: 50%;
            left: 15%;
        }
    </style>
</head>

<br />

<body>

    <h1 class="display-4">Peercoach app Peercoach</h1>

    <input id="mijnaccountbtn" type="button" value="Mijn account" />

    <br />

    <form id="wachtrijbtn" action="../MakeQueue/create" method="get">
        <button>Wachtrij maken</button>
    </form>

    <br />

    <form id="vragenbekijkenbtn" action="../Vragen/PVragen" method="get">
        <button>Vragen bekijken</button>
    </form>

    <br />

    <input id="faqbtn" type="button" value="Faq" />

    <br />

    <form id="wachtrijbekijkenbtn" action="../MakeQueue/PoverzichtWachtrij" method="get">
        <button>Wachtrij bekijken</button>
    </form>

    <br />

    <h2 class="text-body">Announcements</h2>


    <button id="logoutbtn"> Log uit</button>

</body>