@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <h1 class="display-4">Peercoach app Peercoach</h1>
    <h2 class="display-4"> Hoofdmenu</h2>
</div>

<form style="display: inline" action="../MakeQueue/create" method="get">
    <button>Wachtrij maken</button>
</form>

<br />

<form style="display: inline" action="../Vakken/PVakken" method="get">
    <button>vakken</button>
</form>

<br />

<form style="display: inline" action="../Vragen/PVragen" method="get">

    <button>Vragen</button>
</form>

<br />

<form style="display: inline" action="../Agenda/PAgenda" method="get">
    <button>agenda</button>
</form>

<br />



<button> Log uit</button>
