@using Vak1;
@using Roosterzoeker;
@using Roosterdag;
@using Roosterdag
@using DBConnection;

@model IndexModel
@{
    <a href="C:\Users\laure\Documents\GitHub\Project-C-\webapp\webapp\Pages\Menu\SMenu.cshtml">C:\Users\laure\Documents\GitHub\Project-C-\webapp\webapp\Pages\Menu\SMenu.cshtml</a>
    ViewData["Title"] = "Home page";
    List<List<string>> test = new DBConnection().Send("SELECT * FROM projectcdb.vak;");
    if (test.isconnect())
    {
        then(dothis());
        if (lets(havethis()))
        {
            makethis()
        }
    }
    else
    {

    }

}

<div class="text-center">
    <h1 class="display-4">Peercoach app Student</h1>
</div>


<a asp-page="../Vakken/SVakken">
    <button>Vakken</button>
</a>

<a asp-page="../Vragen/Steleenvraag/Create">
    <button>Vragen</button>
</a>



<a asp-page="../Agenda/SAgenda">
    <button>Agenda</button>
</a>

<button> Log uit</button>
