@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Peercoach app Student</h1>
</div>


<a asp-page="../Vakken/SVakken">
    <button>Vakken</button>
</a>

<a asp-page="../Vragen/Steleenvraag/Create">
    <button>Vragen</button>
</a>

<a asp-page="../Wachtrij/SWachtrij">
    <button>Wachtrij</button>
</a>

<a asp-page="../MakeQueue/Index">
    <button>Wachtrij bekijken</button>
</a>


<button> Log uit</button>
