@page
@model IndexModel
@{
    ViewData["Title"] = "Studenten Menu";
}

<div class="text-center">
    <h1 class="display-4">student menu</h1>
</div>

<form style="display: inline" action="../Vakken/SVakken" method="get">
    <button>vakken</button>
</form>
<form style="display: inline" action="../Vragen/SVragen" method="get">

    <button>Vragen</button>
</form>
<form style="display: inline" action="../Agenda/SAgenda" method="get">
    <button>agenda</button>
</form>

<button> Log uit</button>
